[submodule "apps"]
	path = apps
	url = tomirgang:tomirgang/example_apps.git
[submodule "images"]
	path = images
	url = tomirgang:tomirgang/elbe_images.git
[submodule "tests"]
	path = tests
	url = tomirgang:tomirgang/elbe_dev_container_tests.git
